*{
box-sizing: border-box;
position: center;
color: black;
height: fit-content;
width: fit-content;
margin: auto;
}

body{
    
    background-image: url(../img/savegifs/ezgif.com-gif-maker.gif);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: inherit;
}


form{
    
    width: 300px;
    margin: 200px auto;
    text-align: center;
    position: center;
    background-color: white;
    background-size: cover;
    border-width: 2.5px;
    border-style: dashed;
    border-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input{
    top: 125px;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    color: black;
    background-color: white;
    position: center;
    border-width: 0.5px;
    border-style: dashed;
}

