
div{
    display: flex;
    justify-content: center;
    margin-top: 175px;
    }

body{
    background-color: black;
    background-image: url(../img/savegifs/ezgif.com-gif-maker1.gif);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


